# EditorConfig helps developers define and maintain consistent
# coding styles between different editors and IDEs
# https://editorconfig.org

root = true

# All files
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# Python files
[*.py]
indent_style = space
indent_size = 4
max_line_length = 79

# Markdown files
[*.md]
max_line_length = off
trim_trailing_whitespace = false

# JSON files
[*.json]
indent_style = space
indent_size = 2

# YAML files
[*.yml]
indent_style = space
indent_size = 2
